.mission-wrapper {
  width: auto;
  height: 600px;
  background-color: white;
}
.mission-container {
  width: auto;
  height: 600px;
  background-color: red;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.vision-container {
  width: auto;
  height: 600px;
  background-color: blue;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
