.mission-wrapper {
  width: auto;
  height: 900px;
  padding: 30px;
}

.line {
  position: relative;
  width: 500px; /* Adjust width as needed */
  height: 300px;
  background-color: transparent;
  border-style: solid;
  border-width: 7px 7px 7px 7px; /* Top, Right, Bottom, Left */
  border-color: black;
  border-radius: 80px;
  border-top-left-radius: 0px;
}

/* Adjust the size of the top border */
.line::before,
.line::after {
  content: "";
  overflow: hidden;
  position: absolute;
  top: -6px; /* Adjust the position of the cut */
  right: -7px;
  width: 60%; /* Adjust the width of the cut */
  height: 50%; /* Adjust the height of the top border */
  background: white; /* Color of the top border */
}

/* Add another circle */
.line::after {
  content: "";
  position: absolute;
  top: -15px; /* Adjust the position of the circle */
  left: 40%; /* Adjust the horizontal position of the circle */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
}
