.core {
  text-align: center;
  position: absolute;
  top: 30%; /* Center vertically */
  left: 3%; /* Center horizontally */
  transform-origin: center center; /* Set the transform origin to center */
  transform: translate(-50%, -50%) rotate(270deg); /* Rotate and center the element */
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.contextualized {
  text-align: center;
  position: absolute;
  width: 110px;
  top: 63%; /* Center vertically */
  left: 3%; /* Center horizontally */
  transform-origin: center center; /* Set the transform origin to center */
  transform: translate(-50%, -50%) rotate(270deg); /* Rotate and center the element */
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
}

.specialization {
  text-align: center;
  position: absolute;
  width: 110px;
  top: 80%; /* Center vertically */
  left: 3%; /* Center horizontally */
  transform-origin: center center; /* Set the transform origin to center */
  transform: translate(-50%, -50%) rotate(270deg); /* Rotate and center the element */
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
}

.hours-per-day {
  text-align: center;
  position: absolute;
  width: 70px;
  top: 95%; /* Center vertically */
  left: 3%; /* Center horizontally */
  transform-origin: center center; /* Set the transform origin to center */
  transform: translate(-50%, -50%) rotate(270deg); /* Rotate and center the element */
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
}
