.syllabus-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: center;
  border: 1.5px solid rgb(180, 180, 180);
  border-radius: 10px;
}

.syllabus-table th,
.syllabus-table td {
  padding: 12px 15px;
  border-bottom: 1.5px solid rgb(180, 180, 180);
  border-right: 1.5px solid rgb(180, 180, 180); /* Vertical border */
}

.syllabus-table th {
  background-color: #f2f2f2;
}

/* Remove the right border for the last column */
.syllabus-table th:last-child,
.syllabus-table td:last-child {
  border-right: none;
}
